:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0 30px;
}

.gallery-item {
  border: 1px solid #808080;
  border-radius: 5px;
  width: calc((100% - 96px) / 5);
}

.img-data {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: 220px;
  object-fit: cover;
}

div.img-data h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

div.img-data p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #ff3d00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

input {
  margin-bottom: 50px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  outline: none;
}

.btn-search,
.btn-load-more {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  border: none;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn-search:hover,
.btn-load-more:hover {
  background-color: #6c8cff;
}

input:hover {
  border-color: #000;
}

input:focus {
  border-color: #4e75ff;
}

form {
  margin-top: 20px;
}

.btn-load-more {
  width: 130px;
  margin: 0 auto;
  margin-top: 20px;
}
